*{
    font-size: 10px;
}
.right{
    padding: 10px;
}
.heading1{margin: 30px;}
.footer-background{
    background-color: black;
    ;
    width: 100%;
    padding: 10rem 4px;
  
}
.footer{
    width: 100%;
}
.form1{
    width: 180px;
}
